# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/

# Node / Vite React
node_modules/
dist/
dist-ssr/
*.local
.npm/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.pdf
.md
.bat